*.sh
*.md
*.woff
*.ttf
.vscode
.idea
.husky
.local
Dockerfile
/public
/docs
/bin
**/dist/**
**/node_modules/**
package.json
*.d.ts
.eslintrc.cjs
.prettierignore
.prettierrc.cjs
tsconfig.node.json
tsconfig.json